.root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 135px;

  .navbarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  .logo {
    & a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 135px;
      height: 30px;
      text-decoration: none;
    }
    .logoImg {
    }

    .logoText {
      font-size: 25px;
      font-weight: 900;
      text-transform: uppercase;
      color: #f95a59;
    }
  }
  .search {
    flex-grow: 1;
    margin: 0 50px;

    input {
      min-width: 135px;
      width: 100%;
      padding: 9px 0 9px 20px;
      border: 1px solid #768298;
      border-radius: 6px;
      &:focus {
        outline-color: #768298;
      }
    }
  }

  .ltlGrey {
    color: #768298;
    line-height: 22.4px;
    font-size: 14px;
  }

  .phone {
    margin-right: 30px;
    width: 143px;
    height: 47px;

    .phoneNumber {
      font-size: 18px;
      line-height: 28.8px;
    }
  }

  .mobileMenu {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    /*background: #000;*/
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    span {
      display: block;
      width: 20px;
      height: 2px;
      background: #000;
    }

    &:after,
    &:before {
      content: '';
      width: 30px;
      height: 2px;
      background: #000;
      display: block;
    }
  }

  .navbarFooter {
    width: 100%;
    height: 60px;

    ul {
      list-style: none;
      font-size: 18px;
      display: inline-flex;
      justify-content: space-between;
      max-width: 786px;
      width: 100%;

      li {
        a {
          text-decoration: none;
          color: #768298;
          line-height: 28.8px;
          &.active {
            color: #f95a59;
          }
          &:hover {
            color: #34aadd;
          }
        }
      }
    }
  }

  @media (max-width: 1055px) {
    .navbarHeader .btn,
    .navbarHeader .phone,
    .navbarHeader .search {
      display: none;
    }

    .mobileMenu {
      display: flex;
    }
  }
}
